<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/CadastroCliente.css">
    <title>Xhopii</title>
</head>
<body>
    <header class="head">
        <img src="../img/logo.png" alt="Logo Xhopii">
        <h1>Xhopii</h1>
        <p>Sair</p>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cadastro Clientes</a></li>
            <li><a href="#">Cadastro Funcionário</a></li>
            <li><a href="#">Cadastro Produtos</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionário</a></li>
            <li><a href="../view/VisualizacaoProduto.html">Ver Produtos</a></li>

        </ul>
    </nav>
    <article class="bodyI">
        <section class="boddyII">
            <h1>Cadastrar Cliente</h1>
            <input type="text" name="Nome" placeholder="Nome">
            <input type="text" name="Sobrenome" placeholder="Sobrenome">
            <input type="text" name="CPF" placeholder="CPF">
            <input type="date" name="DD/MM/AA" placeholder="DD/MM/AA">
            <input type="tel" name="Telefone" placeholder="Telefone">
            <input type="email" name="E-mail" placeholder="E-mail">
            <input type="password" name="Senha" placeholder="Senha">
        </section>
    </article>
</body>
</html>